body{
    padding-block-end: 13rem;

    background: linear-gradient(180deg, rgba(0, 0, 0, 0.596) 2%, rgba(0,212,255,0) 6%), url('../images/image-hero-desktop.jpg'), #fafafa;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100% auto;
}
.header__navbar{
    position: unset;
    top: unset;
    left: unset;
    right: unset;

    width: auto;
    height: 100%;
    margin-left: unset;
    margin-right: unset;

    background-color: unset;
    border-radius: unset;
}
.header__navbar--inactive{
    display: unset;
}
.header__list{
    display: flex;
    grid-template-columns: unset;
    grid-template-rows: unset;

    height: unset;
}
.header__item{
    width: unset;
    height: unset;
    padding-inline-start: 3rem;

    border-bottom: unset;
}
.header__item a{
    font-weight: 400;
    font-size: 1.4rem;

    color: white;
}
.header__button{
    display: none;
}


.main__heading{
    padding: 5rem;
}
.heading__title{
    margin-block-start: unset;
    
    font-size: 2.8rem;
}
.heading__text{
    font-size: 1.6rem;
}
.heading__bookmark_container{
    position: relative;

    width: 17rem;
}
.heading__bookmark_button{
    position: absolute;
    top: 0;
    left: 0;
}
.heading__bookmark_text{
    display: flex;
    align-items: center;

    width: 100%;
    height: 100%;
    padding-inline-start: 7rem;

    background-color: #f4f4f4;
    border-radius: 3rem;
}


.progress__container{
    padding: 5rem;
    padding-block-end: 5rem;
}
.progress__quantities_container{
    flex-direction: row;
}
.quantity__container{
    height: 6rem;
}
.quantity__container:nth-child(1){
    align-items: flex-start;

    width: 17.5rem;
}
.quantity__container:nth-child(2){
    width: 22.5rem;

    border-top: unset;
    border-inline-start: solid 0.1rem #d6d6d6;
    border-inline-end: solid 0.1rem #d6d6d6;
    border-bottom: unset;
}
.quantity__container:nth-child(3){
    padding-inline-start: 5rem;
}
.progress__progress_bar_container{
    margin-block-start: 4rem;
}



.about__text{
    font-size: 1.6rem;
}
.about__option_container{
    padding: 3rem;
}
.option__header_container{
    flex-direction: row;
    justify-content: space-between;
}
.option__button_container{
    flex-direction: row;
    justify-content: space-between;
}
.option__amount_container{
    align-items: center;
}




/*--------------------modals---------------------------*/

.modal{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    display: flex;
    justify-content: center;

    padding-block-start: 15rem;
    padding-block-end: 10rem;
    height: fit-content;

    background-color: rgba(0, 0, 0, 0.342);
}
.modal--inactive{
    display: none;
}

.modal__pledge_container{
    position: relative;

    min-width: 33rem;
    width: 80%;
    max-width: 73rem;
    height: fit-content;
    padding: 5rem;

    background-color: white;
    border-radius: 1rem;
}
.modal__close{
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    display: block;

    width: 2rem;
    height: 2rem;

    background-image: url('../images/icon-close-modal.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.pledge__title{
    font-size: 1.8rem;
}
.pledge__text{
    margin-block-start: 2rem;

    font-size: 1.4rem;

    color: #838383;
}
.pledge__option_container{
    position: relative;

    margin-block-start: 2rem;

    border: solid 0.1rem #dadada;
    border-radius: 1rem;
    overflow: hidden;
}
.pledge__option_container--active{
    border: solid 0.2rem var(--moderate-cyan);
}
.pledge__heading_container{
    padding: 2.5rem;
}
.pledge__radio_title_container{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.pledge__radio{
    width: 2rem;
    height: 2rem;
    padding: 0;
    margin: 0;

    border: 0;
}
.pledge__option_title_container{}
.pledge__option_title_container h3{
    font-size: 1.4rem;
}
.pledge__option_title_container span{
    font-size: 1.4rem;
    font-weight: 500;

    color: var(--moderate-cyan);
}
.pledge__option_text{
    margin-block-start: 3rem;

    font-size: 1.4rem;

    color: #838383;
}
.pledge__option_separator{
    border: solid 0.1rem #eeeeee;
}
.pledge__option_separator--inactive{
    display: none;
}
.pledge__footer_container{
    display: flex;
    flex-direction: column;
    gap: 2rem;

    padding: 2.5rem;
}
.pledge__footer_container--inactive{
    display: none;
}
.pledge__footer_legend{
    text-align: center;

    color: #838383;
}
.pledge__footer_input_button_container{
    display: flex;
    justify-content: space-between;
}
.pledge__input_container{
    position: relative;

    width: 10rem;
    height: 5rem;
}
.pledge__input_container span{
    position: absolute;
    top: 1.3rem;
    left: 2.2rem;

    font-weight: 700;

    color: #838383;
}
.pledge__input_container input{
    width: 100%;
    height: 100%;
    padding-inline-start: 3.5rem;

    font-weight: 700;

    border-radius: 3rem;
    border: solid 0.1rem #dbdbdb;
    outline: none;
}
.pledge__option_button{
    width: 11.5rem;
    height: 5rem;
    
    font-weight: 700;

    background-color: var(--moderate-cyan);
    border: none;
    border-radius: 3rem;
    color: white;
    transition: all ease-in 0.1s;
}
.pledge__option_button:active{
    transform: scale(0.95);
}

.pledge__disabled{
    display: none;
}

.pledge__disabled--active{
    display: unset;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: #fdfdfd77;
}